.login-form {
    &__controls {
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0 0 0;

        .btn {
            width: 100%;
        }
    }

    label {
        width: 100%;
        display: inline-grid;
    }

}
