.registration-form {
    display: grid;
    grid-row-gap: 0.5rem;

    &__controls {
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0 0 0;

        .btn {
            width: 100%;
        }
    }
}